[user]
	name = Stephen Caudill
	email = scaudill@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	di = diff
	logg = !git log --oneline --decorate
	rmall = !git ls-files --deleted|xargs git rm --cached
[apply]
	whitespace = nowarn
[merge]
	summary = true
[mirror]
	summary = true
[color]
	ui = auto
[branch]
	autosetupmerge = true
	autosetuprebase = always
[core]
	editor = vim
	excludesfile = /Users/voxdolo/.gitignore
[format]
	pretty = oneline
[push]
	default = tracking
