[submodule "dotfiles/.vimbundles/ack.vim"]
	path = dotfiles/.vimbundles/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "dotfiles/.vimbundles/nerdcommenter"]
	path = dotfiles/.vimbundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "dotfiles/.vimbundles/nerdtree"]
	path = dotfiles/.vimbundles/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/.vimbundles/tabular"]
	path = dotfiles/.vimbundles/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "dotfiles/.vimbundles/vim-ruby"]
	path = dotfiles/.vimbundles/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "dotfiles/.vimbundles/vim-slurper"]
	path = dotfiles/.vimbundles/vim-slurper
	url = git://github.com/alowe/vim-slurper.git
[submodule "dotfiles/.vimbundles/vim-abolish"]
	path = dotfiles/.vimbundles/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "dotfiles/.vimbundles/vim-endwise"]
	path = dotfiles/.vimbundles/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "dotfiles/.vimbundles/vim-flatfoot"]
	path = dotfiles/.vimbundles/vim-flatfoot
	url = git://github.com/tpope/vim-flatfoot.git
[submodule "dotfiles/.vimbundles/vim-rails"]
	path = dotfiles/.vimbundles/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "dotfiles/.vimbundles/vim-speeddating"]
	path = dotfiles/.vimbundles/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "dotfiles/.vimbundles/vim-surround"]
	path = dotfiles/.vimbundles/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dotfiles/.vimbundles/vim-unimpaired"]
	path = dotfiles/.vimbundles/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "dotfiles/.vimbundles/vim-markdown"]
	path = dotfiles/.vimbundles/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
